<section class='account card'>
  <header class='card-header'>
    <h3><%= account.name %></h3>
  </header>

  <div class=card-block>
    <strong><%= account.username %></strong>
  </div>

  <footer class='card-footer'><span class=token><%= account.password %></span></footer>
</section>
