<h1><%= @contest.name %> Accounts</h1>

<%= link_to "Add New Account", new_admin_account_path, class: 'btn' %>
<%= link_to "Back", admin_path, class: 'btn btn-secondary' %>

<%= render @accounts, partial: 'admin/accounts/account' %>
