<h1>Problems</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Timeout</th>
      <th scope="col">Description</th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.id %></td>
        <th scope="row"><%= problem.name %></th>
        <td><%= problem.timeout %></td>
        <td><%= link_to 'Show', problem %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
