<table class='table table-striped'>
  <thead>
    <tr>
      <th>Team</th>
      <% @problems.each.with_index do |problem, index| %>
        <th><%= index + 1 %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
