<tr class='team'>
  <td class='name'>
    <%= team.name %>
  </td>
  <td class='username'>
    <%= team.username %>
  </td>
  <td class='token'>
    <%= team.password %>
  </td>

  <td class.action>
  </td>
</tr>
